<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <style>
            .text {font-size: 1.75rem;}
        </style>
    </head>
    <body>
        <!--CDN for bootstrap lib bundle-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid mx-auto">
                <a class="navbar-brand mx-auto text" href="/">Monster Video</a>

            </div>
        </nav>
        <br><br>
        <center><h2>Customer Details</h2></center>
        <br>
        {% if customer %}
            <dl class="row">
                <dt class="col-sm-6 text-end">Customer Name</dt>
                <dd class="col-sm-6">{{ customer.name }}</dd>

                <dt class="col-sm-6 text-end">Customer Address</dt>
                <dd class="col-sm-6">
                    {{ customer.street }}
                    {{ customer.city }},
                    {{ customer.state }},
                    {{ customer.zipCode }}
                </dd>

                <dt class="col-sm-6 text-end">Phone Number</dt>
                <dd class="col-sm-6">{{ customer.phone }}</dd>

                <dd class="col-sm-12 text-center">
                    <form action="{% url 'delete_customer' customer.id %}" method="POST" >
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </dd>
            </dl>

            <br><br>
        
            {% if appraisal %}
                <center><h2>Appraisal</h2></center>
                <br>
                <dl class="row">
                    <dt class="col-sm-6 text-end">Location</dt>
                    <dd class="col-sm-6">{{ appraisal.location }}</dd>
    
                    <dt class="col-sm-6 text-end">Cable Run?</dt>
                    <dd class="col-sm-6">{{ appraisal.cableRun }}</dd>
    
                    <dt class="col-sm-6 text-end">Comments</dt>
                    <dd class="col-sm-6">{{ appraisal.comments }}</dd>

                    <dd class="col-sm-12 text-center">
                        <form action="{% url 'delete_appraisal' customer.id %}" method="POST" >
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </dd>
                </dl>
                {% if proposal %}
                    <br><br>
                    <center><h2>Proposal</h2></center>
                    <br>
                    <dl class="row">
                        <dt class="col-sm-6 text-end">Proposal Created</dt>
                        <dd class="col-sm-6">{{ proposal.date }}</dd>
        
                        <dt class="col-sm-6 text-end">Description</dt>
                        <dd class="col-sm-6">{{ proposal.description }}</dd>

                        <dd class="col-sm-12 text-center">
                            <form action="{% url 'delete_proposal' customer.id %}" method="POST" >
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </dd>
                    </dl>
                    {% if installation %}
                        <br><br>
                        <center><h2>Installation</h2></center>
                        <br>
                        <dl class="row">
                            <dt class="col-sm-6 text-end">Start Date</dt>
                            <dd class="col-sm-6">{{ installation.date_start }}</dd>
            
                            <dt class="col-sm-6 text-end">Estimated End Date</dt>
                            <dd class="col-sm-6">{{ installation.date_finish }}</dd>
            
                            <dt class="col-sm-6 text-end">Cleanup?</dt>
                            <dd class="col-sm-6">{{ installation.cleanup }}</dd>

                            <dt class="col-sm-6 text-end">Total Materials Cost</dt>
                            <dd class="col-sm-6">{{ installation.total_material }}</dd>

                            <dt class="col-sm-6 text-end">Cables Cost</dt>
                            <dd class="col-sm-6">{{ installation.cables_cost }}</dd>

                            <dt class="col-sm-6 text-end">Total Labor</dt>
                            <dd class="col-sm-6">{{ installation.total_labor }}</dd>

                            <dt class="col-sm-6 text-end">Total Cost</dt>
                            <dd class="col-sm-6">{{ installation.total_cost }}</dd>

                            <dd class="col-sm-12 text-center">
                                <form action="{% url 'delete_installation' customer.id %}" method="POST" >
                                    {% csrf_token %}
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </dd>
                        </dl>
                        {% if employee %}
                            <br><br>
                            <center><h2>Employee</h2></center>
                            <br>
                            <dl class="row">
                                <dt class="col-sm-6 text-end">Employee Name</dt>
                                <dd class="col-sm-6">{{ employee.name }}</dd>
                
                                <dt class="col-sm-6 text-end">Department</dt>
                                <dd class="col-sm-6">{{ employee.department }}</dd>

                                <dd class="col-sm-12 text-center">
                                    <form action="{% url 'delete_employee' customer.id %}" method="POST" >
                                        {% csrf_token %}
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                </dd>
                            </dl>
                        {% else %}
                            <br><br>
                            <h2>Add an Employee</h2>
                            <form class="row g-3 needs-validation" action="{% url 'add_employee' customer.id %}" method="post" novalidate>
                                {% csrf_token %}
                                <div class="col-md-6">
                                    <label for="validationCustom01" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Joe Smith" name="name" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="validationCustom02" class="form-label">Department</label>
                                    <input type="text" class="form-control" id="validationCustom02" name="department" placeholder="Service" required>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit">Add Employee</button>
                                </div>
                            </form>
                        {% endif %}
                        {% if speakers_list %}
                            <br><br>
                            <center><h2>Speakers</h2></center>
                            {% for speaker in speakers_list %}
                                {% if speaker.installation == installation %}
                                    <br>
                                    <dl class="row">
                                        <dt class="col-sm-6 text-end">Speaker Name</dt>
                                        <dd class="col-sm-6">{{ speaker.item_name }}</dd>
                        
                                        <dt class="col-sm-6 text-end">Description</dt>
                                        <dd class="col-sm-6">{{ speaker.item_description }}</dd>

                                        <dt class="col-sm-6 text-end">Installation Location</dt>
                                        <dd class="col-sm-6">{{ speaker.item_location }}</dd>

                                        <dt class="col-sm-6 text-end">Quantity</dt>
                                        <dd class="col-sm-6">{{ speaker.item_quantity }}</dd>

                                        <dt class="col-sm-6 text-end">Price</dt>
                                        <dd class="col-sm-6">{{ speaker.item_cost }}</dd>

                                        <dt class="col-sm-6 text-end">Labor Cost</dt>
                                        <dd class="col-sm-6">{{ speaker.item_labor_cost }}</dd>

                                        <dd class="col-sm-12 text-center">
                                            <form action="{% url 'delete_item' speaker.id %}" method="POST" >
                                                {% csrf_token %}
                                                <button class="btn btn-danger" type="submit">Delete</button>
                                            </form>
                                        </dd>

                                        <dd class="col-sm-12 text-center">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AddWarrantyModal1">
                                                Add Warranty
                                            </button>
                                        </dd> 
                                        
                                        <!-- Modal -->
                                        <form action="{% url 'add_warranty' speaker.id %}" method="POST" >
                                            {% csrf_token %}
                                            <div class="modal fade" id="AddWarrantyModal1" tabindex="-1" aria-labelledby="AddWarrantyModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="AddWarrantyModalLabel">Add Warranty</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <label for="validationCustom02" class="form-label">Warranty Title</label>
                                                            <input type="text" class="form-control" id="validationCustom02" name="title" placeholder="Bose Headphones" required>

                                                            <label for="validationCustom02" class="form-label">Start Date</label>
                                                            <input type="text" class="form-control" id="validationCustom02" name="start_date" placeholder="2000-01-01" required>

                                                            <label for="validationCustom02" class="form-label">Manufacturer's Warranty Duration (Years)</label>
                                                            <input type="number" class="form-control" id="validationCustom02" name="mfg_warranty" placeholder="2" required>

                                                            <label for="validationCustom02" class="form-label">Warranty Cost</label>
                                                            <input type="number" class="form-control" id="validationCustom02" name="cost" placeholder="10.00" required>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-success" type="submit">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </dl>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <br><br>
                        <center><h2>Add a Speaker</h2></center>
                        <br>
                        <form class="row g-3 needs-validation" action="{% url 'add_speaker' customer.id %}" method="post" novalidate>
                            {% csrf_token %}
                            <div class="col-md-4">
                                <label for="validationCustom01" class="form-label">Item</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Bose Speakers" name="item_name" required>
                            </div>
                            <div class="col-md-8">
                                <label for="validationCustom02" class="form-label">Description</label>
                                <input type="text" class="form-control" id="validationCustom02" name="item_description" placeholder="Recommended over the sony, would provide better sound coverage." required>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">Installation Location</label>
                                <input type="text" class="form-control" id="validationCustom02" name="item_location" placeholder="Living Room" required>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">Quantity</label>
                                <input type="number" class="form-control" id="validationCustom02" name="item_quantity" placeholder="1" required>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">Price</label>
                                <input type="number" class="form-control" id="validationCustom02" name="item_cost" placeholder="100.00" required>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">Labor Fee</label>
                                <input type="number" class="form-control" id="validationCustom02" name="item_labor_cost" placeholder="10.00" required>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Add Speaker</button>
                            </div>
                        </form>

                        {% if avcomp_list %}
                            <br><br>
                            <center><h2>AV Components</h2></center>
                            {% for avcomp in avcomp_list %}
                                {% if avcomp.installation == installation %}
                                    <br>
                                    <dl class="row">
                                        <dt class="col-sm-6 text-end">AV Component Name</dt>
                                        <dd class="col-sm-6">{{ avcomp.item_name }}</dd>
                        
                                        <dt class="col-sm-6 text-end">Description</dt>
                                        <dd class="col-sm-6">{{ avcomp.item_description }}</dd>

                                        <dt class="col-sm-6 text-end">Installation Location</dt>
                                        <dd class="col-sm-6">{{ avcomp.item_location }}</dd>

                                        <dt class="col-sm-6 text-end">Quantity</dt>
                                        <dd class="col-sm-6">{{ avcomp.item_quantity }}</dd>

                                        <dt class="col-sm-6 text-end">Price</dt>
                                        <dd class="col-sm-6">{{ avcomp.item_cost }}</dd>

                                        <dt class="col-sm-6 text-end">Labor Cost</dt>
                                        <dd class="col-sm-6">{{ avcomp.item_labor_cost }}</dd>

                                        <dd class="col-sm-12 text-center">
                                            <form action="{% url 'delete_item' avcomp.id %}" method="POST" >
                                                {% csrf_token %}
                                                <button class="btn btn-danger" type="submit">Delete</button>
                                            </form>
                                        </dd>
                                        <dd class="col-sm-12 text-center">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AddWarrantyModal2">
                                                Add Warranty
                                            </button>
                                        </dd> 
                                        
                                        <!-- Modal -->
                                        <form action="{% url 'add_warranty' avcomp.id %}" method="POST" >
                                            {% csrf_token %}
                                            <div class="modal fade" id="AddWarrantyModal2" tabindex="-1" aria-labelledby="AddWarrantyModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="AddWarrantyModalLabel">Add Warranty</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <label for="validationCustom02" class="form-label">Warranty Title</label>
                                                            <input type="text" class="form-control" id="validationCustom02" name="title" placeholder="Bose Headphones" required>

                                                            <label for="validationCustom02" class="form-label">Start Date</label>
                                                            <input type="text" class="form-control" id="validationCustom02" name="start_date" placeholder="2000-01-01" required>

                                                            <label for="validationCustom02" class="form-label">Manufacturer's Warranty Duration (Years)</label>
                                                            <input type="number" class="form-control" id="validationCustom02" name="mfg_warranty" placeholder="2" required>

                                                            <label for="validationCustom02" class="form-label">Warranty Cost</label>
                                                            <input type="number" class="form-control" id="validationCustom02" name="cost" placeholder="10.00" required>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-success" type="submit">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </dl>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <br><br>
                        <center><h2>Add an AV Component</h2></center>
                        <br>
                        <form class="row g-3 needs-validation" action="{% url 'add_avcomp' customer.id %}" method="post" novalidate>
                            {% csrf_token %}
                            <div class="col-md-4">
                                <label for="validationCustom01" class="form-label">Item</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Video wall unit" name="item_name" required>
                            </div>
                            <div class="col-md-8">
                                <label for="validationCustom02" class="form-label">Description</label>
                                <input type="text" class="form-control" id="validationCustom02" name="item_description" placeholder="Excellent visual quality and response time." required>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">Installation Location</label>
                                <input type="text" class="form-control" id="validationCustom02" name="item_location" placeholder="Office" required>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">Quantity</label>
                                <input type="number" class="form-control" id="validationCustom02" name="item_quantity" placeholder="1" required>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">Price</label>
                                <input type="number" class="form-control" id="validationCustom02" name="item_cost" placeholder="100.00" required>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">Labor Fee</label>
                                <input type="number" class="form-control" id="validationCustom02" name="item_labor_cost" placeholder="10.00" required>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Add AV Component</button>
                            </div>
                        </form>

                        {% if electronics_list %}
                            <br><br>
                            <center><h2>Electronics</h2></center>
                            <br>
                            {% for electronic in electronics_list %}
                                {% if electronic.installation == installation %}
                                    <br>
                                    <dl class="row">
                                        <dt class="col-sm-6 text-end">Electronic Name</dt>
                                        <dd class="col-sm-6">{{ electronic.item_name }}</dd>
                        
                                        <dt class="col-sm-6 text-end">Description</dt>
                                        <dd class="col-sm-6">{{ electronic.item_description }}</dd>

                                        <dt class="col-sm-6 text-end">Installation Location</dt>
                                        <dd class="col-sm-6">{{ electronic.item_location }}</dd>

                                        <dt class="col-sm-6 text-end">Quantity</dt>
                                        <dd class="col-sm-6">{{ electronic.item_quantity }}</dd>

                                        <dt class="col-sm-6 text-end">Price</dt>
                                        <dd class="col-sm-6">{{ electronic.item_cost }}</dd>

                                        <dt class="col-sm-6 text-end">Labor Cost</dt>
                                        <dd class="col-sm-6">{{ electronic.item_labor_cost }}</dd>

                                        <dd class="col-sm-12 text-center">
                                            <form action="{% url 'delete_item' electronic.id %}" method="POST" >
                                                {% csrf_token %}
                                                <button class="btn btn-danger" type="submit">Delete</button>
                                            </form>
                                        </dd>
                                        <dd class="col-sm-12 text-center">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AddWarrantyModal3">
                                                Add Warranty
                                            </button>
                                        </dd> 
                                        
                                        <!-- Modal -->
                                        <form action="{% url 'add_warranty' electronic.id %}" method="POST" >
                                            {% csrf_token %}
                                            <div class="modal fade" id="AddWarrantyModal3" tabindex="-1" aria-labelledby="AddWarrantyModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="AddWarrantyModalLabel">Add Warranty</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <label for="validationCustom02" class="form-label">Warranty Title</label>
                                                            <input type="text" class="form-control" id="validationCustom02" name="title" placeholder="Bose Headphones" required>

                                                            <label for="validationCustom02" class="form-label">Start Date</label>
                                                            <input type="text" class="form-control" id="validationCustom02" name="start_date" placeholder="2000-01-01" required>

                                                            <label for="validationCustom02" class="form-label">Manufacturer's Warranty Duration (Years)</label>
                                                            <input type="number" class="form-control" id="validationCustom02" name="mfg_warranty" placeholder="2" required>

                                                            <label for="validationCustom02" class="form-label">Warranty Cost</label>
                                                            <input type="number" class="form-control" id="validationCustom02" name="cost" placeholder="10.00" required>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-success" type="submit">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </dl>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <br><br>
                        <center><h2>Add an Electronic</h2></center>
                        <br>
                        <form class="row g-3 needs-validation" action="{% url 'add_electronic' customer.id %}" method="post" novalidate>
                            {% csrf_token %}
                            <div class="col-md-4">
                                <label for="validationCustom01" class="form-label">Item</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Video wall unit" name="item_name" required>
                            </div>
                            <div class="col-md-8">
                                <label for="validationCustom02" class="form-label">Description</label>
                                <input type="text" class="form-control" id="validationCustom02" name="item_description" placeholder="Excellent visual quality and response time." required>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">Installation Location</label>
                                <input type="text" class="form-control" id="validationCustom02" name="item_location" placeholder="Office" required>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">Quantity</label>
                                <input type="number" class="form-control" id="validationCustom02" name="item_quantity" placeholder="1" required>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">Price</label>
                                <input type="number" class="form-control" id="validationCustom02" name="item_cost" placeholder="100.00" required>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">Labor Fee</label>
                                <input type="number" class="form-control" id="validationCustom02" name="item_labor_cost" placeholder="10.00" required>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Add Electronic</button>
                            </div>
                        </form>

                    {% else %}
                        <br><br>
                        <center><h2>Add an Installation</h2></center>
                        <form class="row g-3 needs-validation" action="{% url 'add_installation' customer.id %}" method="post" novalidate>
                            {% csrf_token %}
                            <div class="col-md-4">
                                <label for="validationCustom01" class="form-label">Date Start</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="YYYY-MM-DD" name="date_start" required>
                            </div>
                            <div class="col-md-4">
                                <label for="validationCustom02" class="form-label">Date Finish</label>
                                <input type="text" class="form-control" id="validationCustom02" name="date_finish" placeholder="YYYY-MM-DD" required>
                            </div>
                            <div class="col-md-4">
                                <label for="validationCustom01" class="form-label">Clean-up needed? ("True" or "False")</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="True" name="cleanup" required>
                            </div>
                            <div class="col-md-6">
                                <label for="validationCustom01" class="form-label">Total Material Cost</label>
                                <input type="number" step="0.01" min="0" class="form-control" id="validationCustom01" placeholder="100.00" name="total_material" required>
                            </div>
                            <div class="col-md-6">
                                <label for="validationCustom02" class="form-label">Cables Cost</label>
                                <input type="number" step="0.01" min="0" class="form-control" id="validationCustom02" name="cables_cost" placeholder="10.00" required>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Add Installation</button>
                            </div>
                        </form>
                    {% endif %}
                {% else %}
                    <br><br>
                    <center><h2>Add a Proposal</h2></center>
                    <form class="row g-3 needs-validation" action="{% url 'add_proposal' customer.id %}" method="post" novalidate>
                        {% csrf_token %}
                        <div class="col-md-3">
                            <label for="validationCustom01" class="form-label">Date</label>
                            <input type="text" class="form-control" id="validationCustom01" placeholder="YYYY-MM-DD" name="date" required>
                        </div>
                        <div class="col-md-9">
                            <label for="validationCustom02" class="form-label">Description</label>
                            <input type="text" class="form-control" id="validationCustom02" name="description" placeholder="Description" required>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Add Proposal</button>
                        </div>
                    </form>
                {% endif %}
            {% else %}              
                <center><h2>Add an Appraisal</h2></center>
                <form class="row g-3 needs-validation" action="{% url 'add_appraisal' customer.id %}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="col-md-4">
                      <label for="validationCustom01" class="form-label">Location</label>
                      <input type="text" class="form-control" id="validationCustom01" placeholder="Living room" name="location" required>
                    </div>
                    <div class="col-md-4">
                      <label for="validationCustom02" class="form-label">Cable run needed? ("True" or "False")</label>
                      <input type="text" class="form-control" id="validationCustom02" name="cableRun" placeholder="False" required>
                    </div>
                    <div class="col-md-4">
                      <label for="validationCustomUsername" class="form-label">Comments</label>
                      <div class="input-group has-validation">
                        <input type="text" class="form-control" id="validationCustomUsername" name="comments" placeholder="Comment" aria-describedby="inputGroupPrepend" required>
                      </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Add Appraisal</button>
                    </div>
                </form>
            {% endif %}
        {% else %}
            <p>No customer data available.</p>
        {% endif %}
    </body>
</html>
